<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/application.css">
  <title>Task Manager</title>
</head>
<div class="box" >
  <header_text><a style="color:white"; href="/">Welcome to Task Manager</a></header_text>
</div>
<body>
  <div class= "styling">
    <%= yield %>
  </div>
</body>
</html>
